/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url("./img/img.svg");
  background-color: #ff7979;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.global-container {
  display: flex;
  align-items: center;
}
.description {
  width: 100%;
  max-width: 525px;
  margin-right: 40px;
  flex-shrink: 0;
}
.description-title {
  font-style: 50px;
  line-height: 55px;
  letter-spacing: -0.52px;
  margin-bottom: 11px;
}
.description-text {
  line-height: 26px;
  font-weight: 500;
}
.registration {
  width: 100%;
  max-width: 540px;
  flex-shrink: 0;
}
.registration-price {
  text-align: center;
  background-color: #5e54a4;
  border-radius: 10px;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  font-size: 15px;
}
.registration-price span {
  font-weight: bold;
}
.registration-price-text {
  padding: 17px 0;
}
.form-wrapper {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}
.form-control {
  margin-bottom: 20px;
}
.form-control input {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #dedede;
  padding: 15px 32px;
  font-family: inherit;
}
.form-control input::placeholder {
  font-weight: 600;
}
.form-control input:focus {
  outline-width: 1px;
  outline-color: #5e54a4;
}
.form-button {
  background-color: #38cc8b;
  border-radius: 5px;
  border: 0;
  color: #fff;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.form-button :hover {
  opacity: 0.7;
}
.terms-text {
  font-size: 11px;
  color: #bab7d4;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
.terms-text a {
  color: #ff7979;
}
